/* Variables */
:root {
	--fontColor1: black;
	--fontColor2: white;
	--customColor1: rgb(20, 63, 112);
	--customColor2: rgb(0, 43, 92);
	--highlighColor: rgb(255, 214, 161);
}

/* Global */
body {
	margin: 0px;
	color: var(--fontColor1);
	font-family: Oswald, Georgia, Times, serif;
	background-color: rgb(219, 231, 255);
}
body > * {
	padding: 10px;
}
.showOnPC {
	display: none;
}
a {
	text-decoration: none;
	font-family: Comfortaa, 'Trebuchet MS', Arial, sans-serif;
}

button {
	color: var(--fontColor2);
	background-color: var(--customColor2);
	font-size: x-large;
	border: 2px var(--fontColor2) solid;
	border-radius: 10px;
	padding: 10px;
}
button:hover {
	background-color: var(--customColor1);
	border-color: var(--highlighColor);
	color: var(--highlighColor);
}
button:disabled {
	background-color: gray;
	color: var(--fontColor2);
	border: 2px var(--fontColor2) solid;
}
select {
	font-size: smaller;
	border-radius: 5px;
}

header {
	background-color: var(--customColor2);
	font-size: xx-large;
	color: var(--fontColor2);
	font-family: Comfortaa, 'Trebuchet MS', Arial, sans-serif;
}
header img {
	margin: -5px;
}
header a {
	color: var(--fontColor2);
}
header a:hover {
	color: var(--highlighColor);
}
header > label {
	display: block;
	font-size: x-large;
	text-align: center;
	padding: 10px
}

.buttonsInRow {
	display: flex;
	width: 100%;
	gap: 5px;
	flex-wrap: wrap;
}
.buttonsInRow * {
	flex-grow: 1;
}
.buttonsInRow > a > button {
	width: 100%;
}

/* index */
#listaPojecHeader > label {
	float: right;
}
#listaPojec {
	font-size: large;
	margin: -10px 10px 10px 10px;
	/*display: flex;
	flex-wrap: wrap;
}
#listaPojec > div {
	min-width: 200px;*/
}

.katder { color: blue; }
.katdie { color: red; }
.katdas { color: green; }

/* fiszki */
#fiszkiPoj {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}
#fiszka {
	background-color: var(--customColor2);
	color: var(--fontColor2);
	font-family: Comfortaa, 'Trebuchet MS', Arial, sans-serif;
	box-sizing: border-box;
	border-radius: 30px;
	flex: 0 1 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	margin: 5px 0px;
}
#tytul {
	display: inline;
	margin: 10px;
}
.drugaStrona {
	background-color: var(--customColor1) !important;
}
.center {
	display: flex;
	justify-content: center;
}
#odwroc {
	margin: -80px 0px 20px 0px;
}
#zaczOdDrContainer {
	font-size: larger;
	float: right;
	padding: 10px 0px;
}
#znam { background-color: darkgreen; }
#prawie { background-color: green; }
#powtorze { background-color: orange; }
#nieznam { background-color: red;}


/* Responsywność */
@media screen and (min-width: 800px) {
	.showOnPC {
		display: inline;
	}
	.buttonsInRow > * {
		flex-grow: 0;
	}
	header > label {
		font-size: xx-large;
		float: right;
	}
}