body > * {
	padding: 10px;
}
.showOnPC {
	display: none;
}
select {
	font-size: smaller;
	border-radius: 5px;
}

header {
	font-size: xx-large;
	padding: 10px 0px;
}
header a, header button {
	margin: 0px;
}
header img {
	margin: -5px;
}
header > label {
	display: block;
	font-size: x-large;
	text-align: center;
	padding: 10px
}
#darkMode {
	border-color: black;
	background-color: rgb(144, 144, 187);
}
#darkMode img {
	margin: 0px;
}

.buttonsInRow {
	display: flex;
	width: 100%;
	gap: 5px;
	flex-wrap: wrap;
}
.buttonsInRow * {
	flex-grow: 1;
}
.buttonsInRow > a > button {
	width: 100%;
}

/* index */
#listaPojecHeader > label {
	float: right;
}
#listaPojec {
	font-size: large;
	margin: -10px 10px 10px 10px;
}

/* fiszki */
#fiszkiPoj {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}
#fiszka {
	box-sizing: border-box;
	border-radius: 30px;
	flex: 0 1 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	margin: 5px 0px;
	background-color: rgb(174, 174, 209);
}
.drugaStrona {
	background-color: rgb(144, 144, 187) !important;
}

#fiszka > span {
	text-align: center;
}
#tytul {
	display: inline;
	margin: 10px;
}
.center {
	display: flex;
	justify-content: center;
}
.fullWidth {
	box-sizing: border-box;
	margin-left: 10px;
	margin-right: 10px;
	width: calc(100% - 20px);
	text-align: center;
}
#zaczOdDrContainer {
	font-size: larger;
	float: right;
	padding: 10px 0px;
}

/* pisanie */
#pyt button, #ocen button {
	padding: 20px;
}



/* Dictionary */
#dictionaryOpen {
	display: flex;
	max-width: 300px;
	text-align: center;
	gap: 10px
}
#dictionary iframe {
	position: fixed;
	right: 0px;
	width: 100%;
	height: calc(100% - 100px);
	bottom: 0px;
	border: 0px black solid;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 3px 3px 10px;
	margin: 0px;
}
#dictionary button {
	font-size: xx-large;
	padding: 5px 15px;
	position: fixed;
	right: 0px;
	bottom: calc(100% - 100px);
}

/* Responsywność */
@media screen and (min-width: 800px) {
	.showOnPC {
		display: inline;
	}
	.buttonsInRow > * {
		flex-grow: 0;
	}
	header > label {
		font-size: xx-large;
		float: right;
	}
	header a, header button {
		margin: 10px;
	}
	#dictionary iframe {
		right: 20px;
		width: 400px;
	}
	#dictionary button {
		right: 20px;
	}
	#dictionaryOpen {
		position: fixed;
		right: 20px;
		bottom: 0px;
		width: 110px;
		flex-direction: column;
	}
	#dictionaryOpen p {
		margin: 10px 0px;
	}
	.fullWidth {
		width: auto;
	}
}

@media screen and (min-width: 1200px) {
	body {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}